@using System.Security.Claims;
@model IEnumerable<gerenciadorTarefa.Models.ViewModel.MetaViewModel>
<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Home Page";
}
<div class="content">
    <div class="card sidebar">
        <a href="/Home/Index">
            <img class="card-img-top width imglogo " src="~/img/logoimg.png" alt="Card image cap">
        </a>
        <a asp-controller="Usuarios" asp-action="Edit" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)">
            <img class="card-img-top width" src="~/img/userimg.png" alt="Card image cap">

        </a>
        <a href="/Usuarios/Logout" onclick="return confirm('Tem certeza que deseja SAIR do Gerenciador de Tarefas?');">
            <img class="card-img-top width" src="~/img/logoutimg.png" alt="Card image cap">
        </a>

    </div>
    <div class="card box-content" style="width: 90%;">

        <div class="">

            <div>
                <input class="search" type="text" placeholder="Pesquisar">
                <img class="lupaimg" src="~/img/lupaimg.png" alt="Lupa">

            </div>

            <div class="box-header">

                <div class="box1">
                    <div class="box2">
                        <span class="title">Gerenciador de Metas</span>
                        <span class="subtitle">Organize, gerencie e realize!</span>
                    </div>
                    <div>
                        <img class="img-header" src="~/img/img-header.png">
                    </div>

                </div>
                <div class="box3">
                    <span class="title "> Criar nova </span>
                    <div class="box4">
                        <span class="title ">Meta</span>
                        <a href="@Url.Action("Create", "Meta")">
                            <img class="img-add " src="~/img/addimg.png">
                        </a>

                    </div>
                </div>
            </div>
        </div>
        @foreach (var item in Model)
        {
            if (item != null)
            { // Check if item is not null
                <div class="card">
                    <div class="card-header">
                        <h3>@Html.DisplayFor(modelItem => item.Titulo)</h3>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                    </div>
                    <div class="card-body">
                        <p><strong>Categoria:</strong> @Html.DisplayFor(modelItem => item.Categoria)</p>
                        <p><strong>Prazo:</strong> @Html.DisplayFor(modelItem => item.Prazo)</p>
                        <p><strong>Status:</strong> @Html.DisplayFor(modelItem => item.Status)</p>
                        <p><strong>Tarefas:</strong></p>
                        @* @foreach (var tarefa in item.Tarefas)
                        {
                            <div class="Task">
                                @tarefa.Nome
                                @tarefa.Status
                            </div>
                        }
                        *@
                    </div>
                </div>
            }
        }
    </div>


</div>


<div class="footer">
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</div>