@model gerenciadorTarefa.Models.RedefinirSenhaViewModel

<link rel="stylesheet" href="~/css/create.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Redefinir Senha";
}

<div class="content">
    <div class="card sidebar">
        <a href="/Usuarios/Login">
            <img class="card-img-top width imglogo " src="~/img/logoimg.png" alt="Card image cap">
        </a>
    </div>
    <div class="card box-content mt-5" style="width: 90%;">
                    <h2 class="text-center">Redefinir Senha</h2>
                    <form asp-action="RedefinirSenha">
                        <div asp-validation-summary="All" class="row"></div>
                        <input type="hidden" asp-for="@Model.Token" />
                        <input type="hidden" asp-for="Token" />
                        <div class="form-group">
                            <label asp-for="@Model.Email" class="control-label fontMedia">EMAIL</label>
                            <input asp-for="@Model.Email" class="form-control inputsLogin" />
                            <span asp-validation-for="@Model.Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.NovaSenha" class="control-label fontMedia">NOVA SENHA</label>
                            <input asp-for="@Model.NovaSenha" class="form-control inputsLogin" />
                            <span asp-validation-for="@Model.NovaSenha" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.ConfNovaSenha" class="control-label fontMedia">CONFIRMAR NOVA SENHA</label>
                            <input asp-for="@Model.ConfNovaSenha" class="form-control inputsLogin" />
                            <span asp-validation-for="@Model.ConfNovaSenha" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <a asp-action="Login" asp-controller="Usuarios" class="btn btn-outline-secondary mt-3 mb-3">Cancelar</a>
                            <button type="submit" class="btn btn-primary form-control inputsLogin mb-2">Redefinir Senha</button>
                        </div>
                    </form>
    </div>
</div>
